@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-tablet: 48.0625rem;
  --breakpoint-desktop: 80.0625rem;
}

@variant dark (&:where(.dark, .dark *)) {
}

:root {
  color-scheme: light dark;
}

:root.dark {
  color-scheme: dark;
}

:root.light {
  color-scheme: light;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
}
